$bgColor: #C5D2DB;
$navColor: #EAEEF2;
$cardColor: #FEFEFE;
$fontColor: #333333;
$blue:#007BFF;

// $bgColor:#3A2D24 ;
// $navColor: #15110D;
// $cardColor: #010101;
// $fontColor: #CCCCCF;
// $blue: #FF8438;