@import './components/colors.scss';

// ---------------------------DARK MODE-------------------------------------------------------//
html.dark{
    $bgColor:#3A2D24 ;
    $navColor: #15110D;
    $cardColor: #010101;
    $fontColor: #CCCCCF;
    $blue: #FF8438;
    
    *{
        color: $fontColor;
    }

    body{
        background-color:$bgColor;
        .nav-switch{
            background-color:$navColor;
            box-shadow: 0px 0px 1.8px rgba(255, 132, 56, 0.34),
                 0px 0px 14px rgba(255, 132, 56, 0.34);
            div{
                background-color: $fontColor;
            }
        }
        .nav-switch.change{
            box-shadow: unset;
        }
        nav{
            background-color: $navColor;
            color:$fontColor;
            ul li a i:hover{
                color:$blue;
            }
            ul li.mode-container div.mode-switch{
                background-color: $bgColor;
                box-shadow: inset 0px 0px 9px rgba(255, 132, 56, 0.34);
            }
        }   

        div.pages{
            background-color: $bgColor;
            background-image:url('./assets/iron.png');

            div.home div.home-content h1 {
                color:$fontColor;
            }

            div.home div.home-content div a {
                color:$blue;
                border-color: $blue;
            }
            div.home div.home-content div a:hover{
                color:$navColor;
                background-color:$blue;
            }
            div.about .about-container h1, .post-container{
                background-color: $navColor;
                box-shadow:
                    5.8px 5.3px 0.4px rgba(255, 132, 56, 0.096),
                    8.2px 7.5px 5.7px rgba(255, 132, 56, 0.108),
                    12px 11px 31px rgba(255, 132, 56, 0.07);
            }
            div.about .about-container .post-container{
                background-color: $cardColor;
                button{
                    background-color: #201b15;
                }
                input{
                    background-color: transparent;
                }
                .post span{
                    background-color: $navColor;
                }
            }
            div.about .about-container .post-container .action button.liked{
                color:$blue;
                i{
                    color:$blue;
                }
            }
            .projects .project-container{
                h1{
                    background-color: $navColor;
                }
                .project{
                    background-color: $cardColor;
                }
                h1, .project{
                    box-shadow:
                    5.8px 5.3px 0.4px rgba(255, 132, 56, 0.096),
                    8.2px 7.5px 5.7px rgba(255, 132, 56, 0.108),
                    12px 11px 31px rgba(255, 132, 56, 0.07);
                }
                a{
                    border-color:$blue;
                    color:$blue;
                }
                a:hover{
                    background-color: $blue;
                    color:$cardColor;
                }
                i{
                    color:$blue;
                }
            }
            .contacts .container h1, .form-container form, .contacts .container .contacts-container .item{
                box-shadow:
                    5.8px 5.3px 0.4px rgba(255, 132, 56, 0.096),
                    8.2px 7.5px 5.7px rgba(255, 132, 56, 0.108),
                    12px 11px 31px rgba(255, 132, 56, 0.07);
            }
            .contacts .container h1{
                background: $navColor;
            }
            .contacts .container .contacts-container .item:hover{
                box-shadow:unset;
            }
            
            .contacts .container .form-container form {
                background-color:$cardColor;

                input[type=submit]{
                    border-color:$blue;
                    color:$blue;
                }
                input[type=submit]:hover{
                    background-color: $blue;
                    color:$cardColor;
                    font-weight: bold;
                }
            }
            
        }
    }
}
// ---------------------------------END OF DARK MODE-----------------------------------------------------//


*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color:$fontColor;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:$bgColor;
    
}

div.pages{
    margin-left:100px;
    background-image: url('./assets/batthern.png');
    background-color:$bgColor;
    min-height: 100vh;

    div{
        max-width: 1280px;
        margin:auto;
    }
}




// /* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) {

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 768px) {
    div.pages{
        margin-left:unset;
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 640px) {

}



