@import '../colors.scss';
*{
    box-sizing: border-box;
}

// button.nav-switch{
//     position:fixed;
//     z-index: 999;
//     left:20px;
//     top:20px;
//     display:none;
// }
.nav-switch{
    cursor:pointer;
    position:fixed;
    z-index: 999;
    left:10px;
    bottom:10px;
    width:60px;
    height:60px;
    background-color:#EAEEF2;
    padding:15px;
    border-radius: 50%;
    box-shadow:
        0px 0px 1.8px rgba(0, 0, 0, 0.315),
        0px 0px 14px rgba(0, 0, 0, 0.41)
        ;
    display:none;
}

.line1, .line2, .line3{
    width:100%;
    height:5px;
    background-color:black;
    margin:6px 0;
    transition:0.4s;
    border-radius: 15px;
}
.line1{
    margin-top:0;
}


nav{
    width:100px;
    height:100vh;
    position:fixed;
    left:0px;
    top:0px;
    background-color:#EAEEF2;

    ul{
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100%;
        margin:0;
        padding:0;

        li{
            width:100%;
            height:100px;
            
            
            a{
                height:100%;
                
                display:flex;
                justify-content: center; 
                align-items: center;

                i{
                    font-size: 50px;
                    transition:0.5s;
                }
                i:hover{
                    color:#007BFF;
                    transform:scale(1.4);
                }
            }
        }
        li.active{
            background-color:#C5D2DB;
        }

        li.mode-container{
            display:flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            div.mode-switch{
                background-color: #C5D2DB;
                height:20px;
                width:70px;
                border-radius: 30px;
                margin: auto;
                display:flex;
                align-items: center;
                position:relative;
                box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.34);
               
    
                .light {
                    background-color: #007BFF;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    transition:0.5s;
                    box-shadow: 5px 0px 9px rgba(0, 0, 0, 0.34);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i{
                        font-size: 20px;
                        transition: 0.5s;
                    }
                    
                }
                
                .light.dark {
                    transform:translateX(80%);
                    box-shadow: -5px 0px 9px rgba(255, 132, 56, 0.34);
                    background-color: #FF8438;

                    i{
                        color:yellow;
                        font-size: 20px;
                    }
                }
            }
        }
        
        
        
        
    }
    

}


// /* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
 
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 768px) {
    .nav-switch{
        display:block;
    }
    nav{
        width:0px;
        transition:0.5s;
        overflow: hidden;
        font-size: smaller;
        z-index: 3;
    }
    nav.open{
        display:block;
        width:100px;
        z-index: 3;
        transition:0.5s;
        box-shadow:
            0.5px 0.9px 1.8px rgba(0, 0, 0, 0.269),
            4px 7px 14px rgba(0, 0, 0, 0.35)
            ;
    }
    html.dark nav.open{
        box-shadow:
            0.5px 0.9px 1.8px rgba(255, 132, 56, 0.34),
            4px 7px 14px rgba(255, 132, 56, 0.34)
            ;
    }
    .change .line1{
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .line2{
        opacity:0;
    }
    .change .line3{
        transform:translate(0,-11px) rotate(45deg)
    }
    .change{
        box-shadow: unset;
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 640px) {

}
