
.contacts{
    
    .container{
        width:90%;
        padding:20px;

        h1, .contacts-container .item, .form-container form{
            box-shadow:
                5.8px 5.3px 0.4px rgba(0, 0, 0, 0.096),
                8.2px 7.5px 5.7px rgba(0, 0, 0, 0.108),
                12px 11px 31px rgba(0, 0, 0, 0.07);
        }

        .contacts-container{
            padding:30px;
            display: grid;
            grid-template-columns:auto auto auto auto;
            gap:15px;

            .item{
                height:200px;
                border-radius: 10px;
                overflow: hidden;
                display:flex;
                justify-content: center;
                align-items: center;
                transition:0.2s;
                animation:fadeInRight;
                animation-duration: 1.5s;

                img{
                    height:100px;
                    width:100px;
                }
            }
            

            .item:hover{
                transform: rotate(10deg) scale(1.2);
            }

            .facebook{
                background-color: #11489b;
            }
            .linkedin{
                background-color: #174e8b;
                
            }
            .github{
                background-color: #194058;
            }
            .gmail{
                background-color: #FEFEFE;
            }
        }


        h1{
            text-align: center;
            padding:10px;
            font-weight: bold;
            background-color: #EAEEF2;
            border-radius: 10px;
            animation:fadeInDown;
            animation-duration:1s;
        }

        .form-container{
            padding:30px;
            text-align: center;
            overflow: hidden;

            h2, p{
                animation:lightSpeedInRight;
                animation-duration: 2s;
            }
            h2{
                font-weight: bold;
            }

            form{
                width:100%;
                background-color: #FEFEFE;
                border-radius: 10px;
                padding:30px;

                input, label, textarea{
                    display:block;
                    border-radius: 10px;
                    animation:fadeIn;
                    animation-duration: 2s;
                }
                
                label{
                    margin:20px;
                    font-weight: bold;
                }
                input, textarea{
                    width:100%;
                    max-width: 800px;
                    margin:auto;
                    margin-top:5px;
                    padding:10px;
                    border:none;
                    border-bottom:1px solid #333333;;
                    background-color: transparent;      
                 
                }
                input[type=submit]{
                    width:50%;
                    border:1px solid #007BFF;
                    color:#007BFF;
                    transition:0.5s;
                }
                input[type=submit]:hover{
                    background-color: #007BFF;
                    color:white;
                }
                textarea{
                    height:100px;
                }
                
            }
        }
    }
}